body {
    background    : #ddd;
    font-family   : Trebuchet MS;
}

svg {
    background    : #fff;
}

form {
    margin        : 1em;
    padding       : 1em;
    border-radius : 1em;
    background    : #fff;
    line-height   : 2;
    width         : 200;
}

span {
    border        : lightgreen solid medium; 
    padding       : 0.25em; 
    border-radius : 0.5em; 
    cursor        : pointer;
}

