body {
    font-family        : Trebuchet MS, sans-serif;
    background         : #aaa;
}

svg, aside {
    border: thin solid #777;
    background         : #fff;
    display            : inline-block;
}

fieldset {
    margin: 0.5em;
    border-radius: 0.5em;
    -webkit-column-break-inside: avoid;
}

aside {
    width          : 700px;
    -webkit-column-count: 2;
/*
*/
    position           : fixed;
    top                : 0;
    right              : 0;
    background         : #fff;
    margin             : 1em;
    padding            : 1em;
    border-radius      : 1em;
    line-height        : 1.5;
}

svg {
    height             : 700;
    width              : 700;
    background: #fff;
}

input, select {
    float              : right;
}

#example {
    -webkit-transition : all 1s;
}

#debug {
    border: thin solid #777;
    font-family        : monospace;
    background         : #fff;
    padding            : 1em;
    border-radius      : 1em;
    margin             : 1em;
    min-height: 1em;
}

g > * {
    -webkit-transition: all 2s;
}


