/* FLOWS & REGIONS */

/* MAIN */

article {
	-webkit-flow-into       : main_flow;
}

div.mainFlow {
	-webkit-flow-from       : main_flow;
	-webkit-region-overflow : break;
	max-height              : 90%;;
	margin-bottom           : 0.5em;
}

/* FULL-COLUMN */

article > h1 {
	-webkit-flow-into       : title_flow;
}

div.page:first-of-type > div.row:last-of-type {
	-webkit-flow-from       : title_flow;
	background              : pink;
}

