div {
	display                 : -webkit-inline-flex;
	-webkit-justify-content : space-between;
	-webkit-align-items     : stretch;
	border                  : thin solid #777;
	padding                 : 0.25em;
	background              : #ddd;
}

div.page {
	-webkit-flex-direction  : column-reverse;
	margin                  : 1em;
	width                   : 8.5in;
	height                  : 11in;
	background              : gold;
}

div.row {
	-webkit-flex-direction  : row;
}

div.row:first-of-type {
	min-height              : auto;
	-webkit-flex-basis      : 100%;
}

div.row:last-of-type {
}

div.column {
	-webkit-flex-direction  : column;
	-webkit-flex-basis      : 100%;
	max-width               : 48%;
	max-height              : 50%;
	background              : lightblue;
}

div.mainFlow {
	background              : lightgreen;
}

div.excl {
	background              : plum;
}

